@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin checkbox-radio {
  position: absolute;
  top: 50%;
  left: 0.1em;
  width: 0.6em;
  height: 0.6em;
  transform: translate(0, -50%);
}
